.header__logo {
  grid-area: logo;
  width: 142px;
  display: block;
}

@media screen and (max-width: 769px) {
  .header__logo {
    margin-left: 30px;
  }
}

@media screen and (max-width: 550px) {
  .header__logo {
    width: 104px;
  }
}