.modal__close-button {
  position: absolute;
  top: -32px;
  right: -32px;
  min-width: 28px;
  min-height: 28px;
  padding: 0;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  background-image: url(../../../images/close-icon.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 180%;
  transition: opacity .2s ease-in-out;
}

.modal__close-button:hover {
  opacity: .6;
}

.modal__close-button:focus {
  outline: none;
}

@media screen and (max-width: 550px) {
  .modal__close-button {
    top: -24px;
    right: -24px;
    min-width: 20px;
    min-height: 20px;
  }
}
