.profile__flex-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (max-width: 769px) {
  .profile__flex-column {
    align-items: center;
  }
}