.logout-button {
  border: none;
  padding: 0;
  margin-left: 24px;
  background-color: transparent;
  color: #a9a9a9;
  cursor: pointer;
  transition: opacity .2s ease-in-out;
}

.logout-button:hover {
  opacity: .6;
}

.logout-button:focus {
  outline: none;
}

@media screen and (max-width: 550px) {
  .logout-button {
    margin-left: 0;
    margin-top: 18px;
  }
}
